<!DOCTYPE html>
<html>
<head>
<title>Play Queue for Youtube</title>
<meta charset="utf-8">
<meta name="description" content="youtubeを連続再生するweb app">
<meta name="author" content="dalchemic">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="196x196" href="favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="favicon.ico">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="iziToast/iziToast.min.css">
<script src="iziToast/iziToast.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link rel="stylesheet" href="index.css">
</head>

<body>
<div id="app">
  <div id="center-box">
    <h1>Play Queue</h1>
    <div id="tab-player">
      <div id="player"></div>
    </div>

    <div id="tab-bar" class="row tab-row">
      <div class="col s12">
        <div class="tab col s6" v-on:click='selectedTab=1' v-bind:class="{'selected-tab-bar': selectedTab==1}">
          <i class="material-icons tab-switch-bar">list</i>
        </div>
        <div class="tab col s6" v-on:click='selectedTab=2' v-bind:class="{'selected-tab-bar': selectedTab==2}">
          <i class="material-icons tab-switch-bar">search</i>
        </div>
      </div>
    </div>
    
    <div id="tab-queue" v-bind:class="{'unselected-tab':selectedTab!=1}">
      <div class="movieQueueList" v-for="item in movieQueue" :key="item.Id">
      <div class="col s12 m8 ">
      <div class="card-panel grey lighten-5 z-depth-1 queue-card-panel">
      <div class="row valign-wrapper queue-row">
      <!--タップ時にこの中を編集-->
            <div class="col s4">
<!--              <img src="thumbnail-test.jpg" alt="" class="responsive-img">-->
              <img v-bind:src=" 'https://i.ytimg.com/vi/' + item.Id + '/default.jpg' " alt="" class="responsive-img">
            </div>
            <div class="col s8">
              <span class="black-text">
                  {{item.Id}}
              </span>
            </div>

      </div>
      </div>
      </div>
      </div>
    </div>

    <div id="tab-search" v-bind:class="{'unselected-tab':selectedTab!=2}">
      <input v-model="newMovieId" placeholder="new movie id"><button v-on:click="newMovieIdSubmitted">submit</button>
    </div>
    
  </div>
</div>

<script>
const TAB_PLAYER =0;
const TAB_QUEUE  =1;
const TAB_SEARCH =2;
const YoutubeKey="AIzaSyCCgdgCh4cw1pnscxtRsfP80M23lMlCdKY";

const vm =new Vue({
  el: "#app",
  data:{
    movieQueue :[
    
      { Id: 'OvWqYBBIYww',
        title:'',
        description:'',
        thumbnails:''
      }/*,
      { Id: 'drSMZgnmJjk'},
      { Id: 'mBlGOx4HdXM' },
      { Id: 'tTPOSNxCZF4'},
      { Id: 'IGInsosP0Ac'},
      { Id: 'C-xF2MAFw5s'},
      { Id: 'x9v8aNl6Aps'},
      { Id: 'Hh9yZWeTmVM'},
      { Id: 'RgKp3ppdhWs'},
      { Id: '5GQnC6UUsZw'}*/
    ],
    newMovieId:"",
    movieQueueCt : 0,
    selectedTab : 1
  },/*
  mounted(){
  },*/
  methods:{
    newMovieIdSubmitted:function(){
      const requestUrl 
        ='https://www.googleapis.com/youtube/v3/videos?id='
        + this.newMovieId
        +'&key='+YoutubeKey
        +'&part=snippet,status';
      axios.get(requestUrl)
        .then(function (res) {
//          console.log(res.data.items[0]);
          if(res.data.items[0].status.embeddable==true){  
          //一応埋め込み可否っぽい値を判断しているが、埋め込み不可動画でもtrueで通ってしまった このまま解決しないならこの部分はいらない。
            const newMovieQueue ={
              Id: vm.newMovieId,
              title: res.data.items[0].snippet.title,
              description: res.data.items[0].snippet.description,
              thumbnails: res.data.items[0].snippet.thumbnails.default.url
            };
            vm.movieQueue.push(newMovieQueue);
          }else{
            iziToast.error({ 
              title: 'Not permitted', 
              message: 'The movie is not permitted on Youtube embedded player.' 
            });
          }
        }).catch(function (err) {
          console.log(err);
          iziToast.error({ 
            title: 'Reject http request', 
            message: 'could not get movie details. Youtube reject http request.' 
          });
        });
    }
  }
});

let tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
let firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
let player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    videoId: vm.movieQueue[0].Id,
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange,
      'onError':onPlayerError
    }
  });
}

function onPlayerReady(event) {
    event.target.playVideo();
}
function onPlayerStateChange(event) {
  if(event.data == YT.PlayerState.ENDED)
    playNextMovie();
}
function onPlayerError(event){
  switch(event.data){
    case 2://リクエストが無効なパラメータ値 動画IDのフォーマットが異なる
    case 5://HTML5プレイヤーに関するエラー
    case 100://動画が見つからない(非公開含む)
    case 101://埋め込み不可の動画
    case 150://埋め込み不可の動画
      playNextMovie();
      iziToast.error({ 
        title: 'Skip Movie', 
        message: 'The skipped movie is not permitted on Youtube embedded player.'
      });
      break;

    default:
      iziToast.error({ title: 'Unknown Error', message: 'Stop movie' });
  }
}

function playNextMovie(){ //MovieQueueが全て再生したら最初からループ
  vm.movieQueueCt = (vm.movieQueueCt+1) % vm.movieQueue.length;
//  if(vm.movieQueue.length > vm.movieQueueCt +1 );
    player.loadVideoById({
      videoId: vm.movieQueue[ vm.movieQueueCt ].Id,
      suggestedQuality:'small'
    });
}
</script>
</body>
</html>
