
<!DOCTYPE html>
<html>
<head>
<title>Play Queue for Youtube</title>
<meta charset="utf-8">
<meta name="description" content="youtubeを連続再生するweb app">
<meta name="author" content="dalchemic">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="index.css">
<link rel="shortcut icon" href="favicon.ico">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="196x196" href="favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="favicon.ico">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue"></script>
</head>

  
<body>
<div id="app">
  <div id="player-box">
    <h1>Play Queue</h1>
    <div id="player"></div>
    <i class="material-icons tab-switch-bar">search</i>
    <i class="material-icons tab-switch-bar">play_arrow</i>
    <div class="tab-play-queue">
        <input v-model="newMovieId" placeholder="new movie id"><button v-on:click="newMovieIdSubmitted">submit</button>
      <ul>
        <li v-for="item in movieQueueInvue" :key="item.Id">{{item.Id}}</li>
      </ul>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>


let movieQueue =[];
let movieQueueCt =0;

let tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
let firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
let player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    videoId: 'mBlGOx4HdXM',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}
function onPlayerReady(event) {
    event.target.playVideo();
}
function onPlayerStateChange(event) {
  if(event.data == YT.PlayerState.ENDED){
    console.log("ended");
    player.loadVideoById({videoId: movieQueue[movieQueueCt++].Id , suggestedQuality:'small'});
  }
  
}
//console.log(vm.movieQueueInvue);
const vm =new Vue({
  el: "#app",
  data:{
    newMovieId:"",
    movieQueueInvue :[
      {
        Id: 'OvWqYBBIYww'
      },
      {
        Id: 'mBlGOx4HdXM'
      },
      {
        Id: 'tTPOSNxCZF4'
      }
    ]
  },
  methods:{
    newMovieIdSubmitted:function(){

      this.movieQueueInvue.push({Id:this.newMovieId});
      movieQueue=this.movieQueueInvue;
    }
  },
  created(){
    movieQueue=this.movieQueueInvue;
    console.log("copyed\n");
    console.log(movieQueue);
  }/*,
  updated(){
    if(this.movie){}
    movieQueue=this.movieQueueInvue;
  }*/
});

console.log("All <script> is loaded.");
console.log(vm.movieQueueInvue);
</script>
</body>
</html>
