<!DOCTYPE html>
<html>
<head>
<title>Play Queue for Youtube</title>
<meta charset="utf-8">
<meta name="description" content="youtubeを連続再生するweb app">
<meta name="author" content="dalchemic">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="favicon.ico">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="196x196" href="favicon.ico">
<link rel="apple-touch-icon" sizes="152x152" href="favicon.ico">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="iziToast/iziToast.min.css">
<script src="iziToast/iziToast.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link rel="stylesheet" href="index.css">

</head>

<body>
<div id="app">
  <div id="center-box">
    <h1>Play Queue</h1>
    <div id="tab-player">
      <div id="player"></div>
    </div>

    <div id="tab-bar" class="row tab-row">
      <div class="col s12">
        <div class="tab col s6" v-on:click='selectedTab=1' v-bind:class="{'selected-tab-bar': selectedTab==1}">
          <i class="material-icons tab-switch-bar">list</i>
        </div>
        <div class="tab col s6" v-on:click='selectedTab=2' v-bind:class="{'selected-tab-bar': selectedTab==2}">
          <i class="material-icons tab-switch-bar">search</i>
        </div>
      </div>
    </div>
    
    <div id="tab-queue" v-bind:class="{'unselected-tab':selectedTab!=1}">
      <div class="movieQueueList" v-for="item in movieQueue" :key="item.Id">
      <div class="col s12 m8 ">
      <div class="card-panel grey lighten-5 z-depth-1 intab-card-panel">
      <div class="row valign-wrapper intab-row">
      <!--タップ時にこの中を編集-->
            <div class="col s3">
              <img v-bind:src="item.thumbnail" alt="" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="black-text">
<!--                {{item.title}} //{{item.Id}}//{{item.description}}-->
                <div class="item-title">{{item.title}}</div>
                <div class="item-description">{{item.description}}</div>
              </span>
            </div>
      <!--タップ時にこの中を編集 ここまで-->
      </div>
      </div>
      </div>
      </div>
    </div>

    <div id="tab-search" v-bind:class="{'unselected-tab':selectedTab!=2}">
      <input v-model="searchWord" placeholder="search word">
      <button v-on:click="searchWordSubmitted">search</button>

      <div class="movie-search-list col s12 row" v-for="item in movieSearchList" :key="item.uniqueKey">
        <div class="card-panel grey lighten-5 z-depth-1 intab-card-panel">
        <div class="row valign-wrapper intab-row">
        <!--タップ時にこの中を編集-->
          <div v-bind:class="{'displayNone':false}" v-on:click='newMovieQueue(item)'>
              <div class="col s3">
                <img v-bind:src="item.thumbnail" alt="" class="responsive-img">
              </div>
              <div class="col s9">
                  <span class="black-text">
    <!--                {{item.title}} //{{item.Id}}//{{item.description}}-->
                    <div class="item-title">{{item.title}}</div>
                    <div class="item-description">{{item.description}}</div>
                  </span>
              </div>
          </div>
          <div class="selected-movie-s12" v-bind:class="{'displayNone':true}">
              <div class="col s3">
                <img src="play.png" alt="" class="responsive-img">
              </div>
              <div class="col s3 selected-movie-s3">
                <button class="btn waves-effect waves-light play-button">now</button>
              </div>
              <div class="col s3 selected-movie-s3">
                <button class="btn waves-effect waves-light play-button">next</button>
              </div>
              <div class="col s3 selected-movie-s3">
                  <button class="btn waves-effect waves-light play-button">last</button>
              </div>
              
          </div>
        <!--タップ時にこの中を編集 ここまで-->
        </div>
        </div>
      </div>
      <button v-on:click="searchWordSubmittedMore" class="btn waves-effect waves-light">
        <i class="material-icons">keyboard_arrow_down</i>
        </button>
    </div>
    
  </div>
</div>

<script src="index.js"></script>
</body>
</html>
