body{
    text-align: center;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    color: #DA5019;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
#center-box{
    display: inline-block;
}
#player{
    /*youtube player 16:9固定 ↓*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*youtube player 16:9固定 ↑*/
}
#tab-bar{
    padding-top:5px;
    padding-bottom: 5px;
    user-select: none; /* Firefox */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
#player-box:before {
    /*youtube player 16:9固定 ↓*/
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
    /*youtube player 16:9固定 ↑*/
}
#player-box{
    /*youtube player 16:9固定 ↓*/
    position: relative;
    width: 100%;
    /*youtube player 16:9固定 ↑*/
}
.tab-queue{
    width: 98%;
    margin: auto;
    display: inline-block;
}
.tab-search{
    width: 98%;
    margin: auto;
    display: inline-block;
}
.selected-tab-bar{
    border-bottom: solid 2px #DA5019;
}
#center-box{
    width: 100%;
    max-width: 600px;
}
.intab-card-panel{
    padding:2px;
    margin:0px;
}
.tab-row{
    margin-bottom: 3px;
}
.intab-row {
    margin-bottom: 3px;
    width: 100%;
}
.displayNone{
    display:none;
}
.movie-list{
    margin-bottom:0px;
}
.movie-list button{
    margin:5px;
}

.title{

    text-align:left;
    font-size: 1em;
}

#tab-player > .title{
    margin:0.25em 1em;
    font-style: bold;
}
.movie-list .title{
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    overflow: hidden;
    user-select: none; /* Firefox */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/

}
.movie-list .selected .title{
/*    text-overflow:clip;*/
    overflow-wrap: break-word;
    white-space: normal;
}
.description{
    margin:0;
    text-align:left;
    font-size:0.8em;
    color: rgb(71, 71, 71) ;
    
    width:100%;
    overflow-wrap: break-word;
}
#tab-player >.description{
    padding :0.25em 1em;
    
    box-sizing: border-box;
}
#tab-player .information{
    padding :0.25em;
}
.movie-list .description{
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size:0.8em;
    color: rgb(71, 71, 71) ;
    user-select: none; /* Firefox */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.movie-list .selected .description{
    overflow-wrap: break-word;
    white-space: normal;
}
.information{
    font-size:0.8em;
    color: rgb(71, 71, 71) ;
    text-align: right;
}

.col {
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
}
.now-play-movie{
    border-style:solid;
    border-color: #DA5019;
    border-radius: 3px;
}
.now-move-movie{
    background-color:rgb(139, 139, 139);
}
.move-here{
    background-color:#F3C0AB;
}
.list-name{
    margin-top:2em;
    margin-bottom: 0.25em;
}
.next-play{
    text-align: left;
    margin-left:1em;
}
.settings{
    text-align: right;
    margin-right:1em;
}
.switch-caption{
    color: rgb(32, 32, 32);
}
.strikeout{
    text-decoration: line-through;
    color: rgb(114, 114, 114);
}
.width100{
    width: 100%;
}
/*.responsive-img{
    
}*/
.readMe{
    width:100%;
}

.description .description-button{
    text-decoration: underline;
}
.full-description{
    white-space: pre-wrap;
}